.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #1c7ed6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #4dabf7;
}

/* SESSION CARDS */
.session-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #1c7ed6;
    cursor: pointer;
    transition: 0.2s;
}

.session-card:hover {
    background-color: #112240;
    transform: scale(1.01);
}

.session-info {
    display: flex;
    flex-direction: column;
}

.session-stats {
    display: flex;
    gap: 15px;
    color: #4dabf7;
}

.delete-btn {
    background: none;
    color: red;
    font-size: 16px;
}

/* PERFORMANCE */
.performance-grid {
    display: flex;
    justify-content: space-around;
}
